<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro do Usuário</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2>Registro de Usuário</h2>
    <form method="post" action="{% url 'cad_usuario' %}">
    {% csrf_token %}

    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}<br>

        {% if field.help_text %}
            <div style="color: green;">{{ field.help_text }}</div>
        {% endif %}

        {% if field.erros %}
            <div style="color: red;">{{ field.erros }}</div>
        {% endif %}

    {% endfor %}

    {% comment %}
    {{ form }}
    {% endcomment %}

    <button type="submit">Salvar</button>
</form>

    
</body>
</html>